In [1]:
import pandas as pd

In [2]:
t1_ENOE = pd.read_csv("2014_finished.csv")

# Datos iniciales

In [3]:
t1_ENOE['cd_a'].value_counts() #ciudad
#01 México
#02 Guadalajara
#03 Monterrey
#04 Puebla
#05 León
#06 Torreón (a partir de 2017)
#07 San Luis Potosí
#08 Mérida
#09 Chihuahua
#10 Tampico
#12 Veracruz
#13 Acapulco
#14 Aguascalientes
#15 Morelia
#16 Toluca
#17 Saltillo
#18 Villahermosa
#19 Tuxtla Gutiérrez
#21 Tijuana
#24 Culiacán
#25 Hermosillo
#26 Durango
#27 Tepic
#28 Campeche
#29 Cuernavaca
#31 Oaxaca
#32 Zacatecas
#33 Colima
#36 Querétaro
#39 Tlaxcala
#40 La Paz
#41 Cancún
#43 Pachuca
#81 Complemento urbano-rural
#82 Complemento urbano-rural
#83 Complemento urbano-rural
#84 Complemento urbano-rural
#85 Complemento urbano-rural
#86 Complemento urbano-rural

86    186517
81     95222
83     67692
84     62177
85     52176
1      51279
5      35373
2      33329
3      33075
82     32997
4      31726
16     24481
39     23375
14     23096
31     22906
7      22587
15     22503
19     22408
18     22253
26     22109
24     22005
32     21986
27     21734
8      21667
17     21659
13     21234
36     21092
29     21010
25     20712
43     20451
9      20398
33     20318
21     19722
10     19101
28     19015
12     18647
41     18395
40     16990
Name: cd_a, dtype: int64

In [4]:
t1_ENOE['con'].value_counts()
#control 
#Primer dígito - Ámbito del número de control 
# 0 - El control pertenece a la muestra anterior
# 4 - Ciudades autorrepresentadas
# 5 - Complemento urbano
# 6 - Rural
#Los últimos cuatro Consecutivo por entidad dígitos y ámbito 0001-9999

60004    7048
60005    6801
60008    6788
60001    6774
60011    6707
60010    6706
60007    6651
60002    6630
60006    6573
60009    6562
60003    6474
60013    6436
60012    6303
60015    6288
60014    6173
60016    5187
60017    5077
50007    5070
60018    4912
60019    4777
60020    4729
50008    4662
50010    4626
50029    4619
50016    4618
50014    4598
50009    4463
50025    4401
50023    4400
50013    4383
         ...
40610      47
50265      46
40617      45
40608      45
40628      45
41229      45
40613      44
40631      44
40616      44
50269      44
40604      44
40639      43
50257      42
40603      42
40607      42
40630      41
50267      41
50259      41
50258      38
40618      38
40632      37
40619      36
40609      36
50268      35
40637      34
40627      26
40636      25
50260      24
50264      22
40629      12
Name: con, Length: 1381, dtype: int64

In [5]:
t1_ENOE['d_sem'].value_counts() # Distribución semanal Primer dígito 1-5  Segundo y tercer dígito 01-13

103    45686
503    45663
403    45532
501    45470
402    45208
401    45109
101    44735
201    44587
102    44528
203    44498
202    44461
502    44289
301    44229
302    44159
303    43353
512    12380
110    12294
507    12172
408    12106
111    11996
211    11993
206    11979
404    11972
505    11939
509    11919
304    11896
506    11890
106    11836
213    11793
105    11748
       ...
107    11658
109    11644
504    11644
104    11643
409    11628
407    11625
411    11624
112    11616
413    11615
210    11609
209    11605
307    11568
212    11543
410    11535
412    11527
312    11515
309    11440
205    11439
308    11403
204    11381
511    11373
108    11350
405    11305
305    11284
306    11237
313    11230
508    11183
311    11155
513    11053
113    10887
Name: d_sem, Length: 65, dtype: int64

In [6]:
t1_ENOE['eda'].value_counts() #edad

13    31028
18    30907
12    30659
14    30607
15    29679
19    29610
16    29482
17    29271
20    29159
21    28636
22    28375
23    27791
24    26564
25    25200
40    24682
30    24077
26    24032
28    23604
27    23540
38    23414
39    23202
33    22935
34    22700
36    22650
37    22593
41    22580
29    22370
31    22344
43    22304
35    22217
      ...
70     6860
69     6613
71     6173
73     5993
72     5387
74     5221
75     5000
76     4471
78     3973
77     3886
79     3491
80     3459
81     2850
84     2540
83     2421
82     2216
85     2034
86     1540
87     1285
88     1140
89     1064
90      936
91      707
97      571
98      503
93      477
92      467
94      416
95      277
96      219
Name: eda, Length: 87, dtype: int64

In [7]:
t1_ENOE['ent'].value_counts() 
#Entidad 
#01Aguascalientes 
#02Baja California 
#03Baja California Sur
#04Campeche
#05Coahuila de Zaragoza 
#06Colima 
#07Chiapas 
#08Chihuahua 
#09Distrito Federal 
#10Durango 
#11Guanajuato 
#12Guerrero 
#13Hidalgo 
#14Jalisco
#15México 
#16Michoacán de Ocampo 
#17Morelos 
#18Nayarit 
#19Nuevo León 
#20Oaxaca 
#21Puebla 
#22Querétaro 
#23Quintana Roo 
#24San Luis Potosí
#25Sinaloa 
#26Sonora 
#27Tabasco 
#28Tamaulipas 
#29Tlaxcala 
#30Veracruz de Ignacio de la Llave 
#31Yucatán 
#32Zacatecas

15    57740
11    54048
21    48314
14    46738
20    44730
7     44505
30    43641
19    43498
12    40607
24    39633
1     39513
32    39423
16    39139
27    39131
2     38941
5     38841
25    37219
18    36904
31    36804
29    36628
22    36301
4     35827
8     35788
10    35756
28    35156
17    35139
26    34678
6     33945
13    33934
9     32769
23    31287
3     26840
Name: ent, dtype: int64

In [8]:
t1_ENOE['fac'].value_counts() #Factor de expansión valor  000001-999998

109      7899
124      7413
117      7406
113      7395
120      7383
112      7107
115      7084
116      6955
110      6910
108      6909
106      6876
127      6856
111      6731
119      6722
100      6721
101      6713
114      6693
105      6603
107      6258
118      6196
40       6181
103      6138
104      6130
102      6094
123      6032
99       6025
88       5939
130      5939
97       5912
95       5883
         ...
4554        2
4689        2
4567        2
3695        2
2668        2
1993        2
4807        2
5419        2
3201        2
9189        2
4668        2
4909        2
2271        2
3554        2
3046        2
3247        2
10321       2
4354        2
2088        2
3718        2
4287        2
4670        2
10516       1
2426        1
4166        1
2716        1
1835        1
5046        1
1500        1
2564        1
Name: fac, Length: 2293, dtype: int64

In [9]:
t1_ENOE['h_mud'].value_counts() #Número de veces que el hogar se ha mudado

0    1217836
1      31670
2       3548
3        332
4         31
Name: h_mud, dtype: int64

In [10]:
t1_ENOE['n_ent'].value_counts() #Número de entrevista o visita realizada

2    253875
1    253809
3    252392
4    247975
5    245366
Name: n_ent, dtype: int64

In [11]:
t1_ENOE['n_hog'].value_counts() # 1-Número de hogar principal dentro de la vivienda 2-9 Número de hogar adicional dentro de la vivienda

1    1246909
2       5437
3        841
4        185
5         43
6          2
Name: n_hog, dtype: int64

In [12]:
t1_ENOE['n_inf'].value_counts() #Número de renglón del informante

2     566287
1     443997
3     121102
4      62939
5      29626
6      14247
7       6636
8       3688
9       1615
10      1100
11       519
97       450
99       418
12       342
13       228
14       111
15        71
16        22
21        11
17         7
18         1
Name: n_inf, dtype: int64

In [13]:
t1_ENOE['n_pro_viv'].value_counts() #Número progresivo de la vivienda en el listado

7      9790
47     9683
25     9609
69     9569
13     9565
46     9545
9      9523
32     9512
4      9482
52     9481
28     9438
2      9410
54     9408
62     9392
5      9389
34     9361
24     9349
35     9348
3      9326
1      9305
29     9285
64     9283
26     9272
11     9263
14     9255
31     9251
57     9231
38     9230
44     9221
40     9186
       ...
727       4
741       4
435       4
439       4
446       4
618       4
517       3
397       3
778       3
791       3
412       3
513       3
590       2
487       2
496       2
499       2
565       2
458       2
561       2
506       2
540       2
510       2
529       2
523       2
413       1
627       1
433       1
492       1
480       1
452       1
Name: n_pro_viv, Length: 481, dtype: int64

In [14]:
t1_ENOE['n_ren'].value_counts() #Número de renglón del integrante del hogar

1     421008
2     374161
3     218154
4     128949
5      59632
6      26686
7      12192
8       5957
9       3095
10      1653
11       802
12       454
13       281
14       161
15       108
16        49
17        32
18        14
19        14
20         7
21         5
30         2
22         1
Name: n_ren, dtype: int64

# Pregunta 10: En los últimos tres meses ¿… a recibido ayuda del gobierno, respuestas en p10_1 a p10_4 y p10_9 Pregunta de opción múltiple

In [15]:
t1_ENOE['p10_1'].value_counts() #beca de capacitación o ayuda económica para encontrar trabajo? 1-si 9-no aplica

9    1253120
1        297
Name: p10_1, dtype: int64

In [16]:
t1_ENOE['p10_2'].value_counts() #Apoyo para realizar una actividad por su cuenta Procampo, microcréditos? 2-si 9-no aplica

9    1252531
2        886
Name: p10_2, dtype: int64

In [17]:
t1_ENOE['p10_3'].value_counts() #Ayuda de otro programa del gobierno beca de estudio, despensa? 3-si 9-no aplica

9    1217296
3      36121
Name: p10_3, dtype: int64

In [18]:
t1_ENOE['p10_4'].value_counts() #No ha recibido nada del gobierno 4-si 9-no aplica

9    979010
4    274407
Name: p10_4, dtype: int64

In [19]:
t1_ENOE['p10_9'].value_counts() #No sabe 4-si 9-no aplica

9    1253417
Name: p10_9, dtype: int64

# Pregunta 10a: En los últimos tres meses … a recibido (o le enviaron) apoyo económico de alguien que vive y/o trabaja, respuestas en p10a1 a p10a4 y p10a9 Pregunta de opción múltiple

In [20]:
t1_ENOE['p10a1'].value_counts() #en el extranjero? 1-si 9-no aplica

9    1250250
1       3167
Name: p10a1, dtype: int64

In [21]:
t1_ENOE['p10a2'].value_counts() #en otro estado del país? 2-si 9-no aplica

9    1250717
2       2700
Name: p10a2, dtype: int64

In [22]:
t1_ENOE['p10a3'].value_counts() #en este mismo estado? 3-si 9-no aplica

9    1241659
3      11758
Name: p10a3, dtype: int64

In [23]:
t1_ENOE['p10a4'].value_counts() #No ha recibido nada 4-si 9-no aplica

9    958668
4    294749
Name: p10a4, dtype: int64

In [24]:
t1_ENOE['p10a9'].value_counts() #No sabe 9-si 9-no aplica

9    1253417
Name: p10a9, dtype: int64

# Pregunta 10b: #¿... cuenta con el seguro popular de salud?

In [25]:
t1_ENOE['p10b'].value_counts() # 1-si 2-no 9-no sabe / no aplica

9    942076
2    221946
1     89395
Name: p10b, dtype: int64

# Pregunta 11: Durante la semana pasada ¿cuánto tiempo dedicó … a Pregunta de opción múltiple, respuestas en P11_1 a P11_8

In [26]:
t1_ENOE['p11_1'].value_counts() #Estudiar o tomar cursos de capacitación incluye el tiempo dedicado a realizar trabajos escolares? 
#1-si 9-no aplica

9    1199448
1      53969
Name: p11_1, dtype: int64

In [27]:
t1_ENOE['p11_h1'].value_counts() 
#00-97 Número de horas dedicadas a estudiar 
#98 Realizó la actividad pero no sabe cuanto tiempo 
#9 No sabe si realizó la actividad

9     1199555
40      10435
35       7579
30       5134
45       4244
50       2767
38       2180
36       1948
42       1908
32       1567
20       1113
25       1103
28        957
10        923
60        675
37        630
34        626
39        591
48        568
15        525
5         509
6         505
46        419
8         415
4         356
2         349
3         346
55        327
33        315
26        307
       ...
23         33
19         33
51         29
17         28
53         25
13         25
11         25
62         14
80         13
75         12
68         11
0          10
57         10
64         10
72          9
63          9
59          9
90          8
99          7
66          7
84          5
97          5
74          3
67          2
76          2
85          2
61          2
71          1
77          1
81          1
Name: p11_h1, Length: 84, dtype: int64

In [28]:
t1_ENOE['p11_m1'].value_counts() 
#00-59 Número de minutos dedicados a estudiar
#9 No aplica

9     1199448
0       53180
30        620
7          38
3          31
10         20
50         17
40         16
20         15
15         10
45          7
2           6
21          2
6           2
22          1
25          1
33          1
4           1
53          1
Name: p11_m1, dtype: int64

In [29]:
t1_ENOE['p11_2'].value_counts() #cuidar o atender sin pago de manera exclusiva a niños, ancianos, enfermos o discapacitados? 
#2-si 9-no aplica

9    1174565
2      78852
Name: p11_2, dtype: int64

In [30]:
t1_ENOE['p11_h2'].value_counts() 
#00-97 Número de horas dedicadas a cuidar
#98 Realizó la actividad pero no sabe cuanto tiempo
#9 No sabe si realizó la actividad

9     1175480
14       8142
10       7310
7        6622
21       6375
28       4277
2        3591
20       3543
5        3526
3        2891
35       2867
6        2727
4        2329
12       2315
15       2240
30       2086
8        1749
18       1730
1        1386
42       1368
25       1299
40       1152
16       1012
24        749
56        707
98        685
36        443
26        411
32        363
49        318
       ...
37         27
52         21
55         19
43         14
99         14
47         12
80         12
58         12
44         10
54          9
51          7
66          5
62          4
74          4
77          3
65          3
59          2
53          2
71          2
64          2
68          1
76          1
57          1
82          1
86          1
87          1
91          1
95          1
97          1
69          1
Name: p11_h2, Length: 84, dtype: int64

In [31]:
t1_ENOE['p11_m2'].value_counts()
#00-59 Número de minutos dedicados a cuidar
#9 No aplica

9     1174566
0       77723
30        934
3         102
20         16
7          14
10         13
50          8
15          7
4           6
40          5
5           4
2           4
33          3
35          2
1           2
22          1
25          1
13          1
45          1
8           1
6           1
42          1
11          1
Name: p11_m2, dtype: int64

In [32]:
t1_ENOE['p11_3'].value_counts() #construir o ampliar su vivienda? Aplica del 2008 a 2012 / realizar compras, llevar cuentas o realizar trámites para el hogar o encargarse de la seguridad? como guardar el automóvil, aplica a partir del 2013 
#3-si 9-no aplica

9    1089294
3     164123
Name: p11_3, dtype: int64

In [33]:
t1_ENOE['p11_h3'].value_counts() 
#00-97 Número de horas dedicadas a realizar la actividad
#98 Realizó la actividad pero no sabe cuanto tiempo
#9 No sabe si realizó la actividad

9     1089902
2       52111
1       30536
3       28753
4       15414
5       11060
7        6964
6        6561
10       3748
0        2853
8        1805
14       1027
12        874
98        534
15        312
21        175
20        140
16        139
11        137
18         82
17         60
30         30
13         26
28         26
99         20
25         17
19         17
24         14
22         11
50         11
40          8
35          7
26          6
23          4
70          3
42          3
64          2
56          2
60          2
36          2
84          1
80          1
62          1
72          1
90          1
91          1
97          1
33          1
45          1
61          1
57          1
48          1
32          1
41          1
39          1
27          1
38          1
31          1
29          1
Name: p11_h3, dtype: int64

In [34]:
t1_ENOE['p11_m3'].value_counts()
#00-59 Número de minutos dedicados a realizar la actividad
#9 No aplica

9     1089294
0      153810
30       8518
20        573
40        223
45        213
15        201
10        198
25         97
35         55
50         51
7          50
4          34
5          19
3          15
2          13
1          13
6           7
33          6
22          5
55          4
21          3
12          2
16          2
37          2
14          1
11          1
52          1
31          1
32          1
36          1
38          1
43          1
47          1
Name: p11_m3, dtype: int64

In [35]:
t1_ENOE['p11_4'].value_counts() #reparar o dar mantenimiento a su vivienda, muebles, aparatos electrodomésticos o vehículos? Aplica del 2008 a 2012 / llevar a algún miembro del hogar a la escuela, cita médica u otra actividad? Aplica a partir del 2013
#4-si 9-no aplica

9    1219950
4      33467
Name: p11_4, dtype: int64

In [36]:
t1_ENOE['p11_h4'].value_counts() 
#00-97 Número de horas dedicadas a reparar
#98 Realizó la actividad pero no sabe cuanto tiempo
#9 No sabe si realizó la actividad

9     1220039
2        8205
5        6422
1        5571
3        4854
4        2759
6        1409
10       1113
7        1053
0         963
8         364
14        130
12        108
15         96
98         82
20         68
21         28
16         20
25         15
18         14
30         12
11         11
24         11
28         10
50          9
40          6
35          6
13          5
99          5
17          4
32          3
19          3
48          3
72          3
31          2
44          2
45          2
80          2
36          1
38          1
22          1
42          1
23          1
Name: p11_h4, dtype: int64

In [37]:
t1_ENOE['p11_m4'].value_counts()
#00-59 Número de minutos dedicados a realizar la actividad
#9 No aplica

9     1219950
0       28775
30       3482
40        319
50        232
20        230
15        201
45         59
25         47
10         43
7          23
5           9
1           8
2           7
3           6
35          5
44          3
4           2
6           2
14          2
11          2
12          2
8           1
13          1
16          1
18          1
23          1
32          1
33          1
55          1
Name: p11_m4, dtype: int64

In [38]:
t1_ENOE['p11_5'].value_counts() #realizar los quehaceres de su hogar? Aplica del 2008 al 2012 / construir o ampliar su vivienda? Aplica a partir del 2013
#5-si 9-no aplica

9    1252618
5        799
Name: p11_5, dtype: int64

In [39]:
t1_ENOE['p11_h5'].value_counts() 
#00-97 Número de horas dedicadas a construir
#98 Realizó la actividad pero no sabe cuanto tiempo
#9 No sabe si realizó la actividad

9     1252631
2          81
3          72
6          61
4          59
5          55
8          52
1          49
10         48
7          42
14         36
20         24
15         21
35         20
21         16
30         16
28         16
12         13
40         13
18         12
0          12
25          9
42          8
16          7
24          6
98          6
45          5
48          4
50          3
56          3
36          2
26          2
32          2
60          2
70          1
66          1
63          1
17          1
55          1
54          1
74          1
13          1
46          1
Name: p11_h5, dtype: int64

In [40]:
t1_ENOE['p11_m5'].value_counts()
#00-59 Número de minutos dedicados a realizar la actividad
#9 No aplica

9     1252618
0         779
30         12
20          3
15          3
55          1
3           1
Name: p11_m5, dtype: int64

In [41]:
t1_ENOE['p11_6'].value_counts() #prestar servicios gratuitos a su comunidad? Aplica del 2008 a 2012 / reparar o dar mantenimiento a su vivienda, muebles, aparatos electrodomésticos o vehículos? aplica a partir del 2013
#6-si 9-no aplica

9    1237641
6      15776
Name: p11_6, dtype: int64

In [42]:
t1_ENOE['p11_h6'].value_counts() 
#00-97 Número de horas dedicadas a 
#98 Realizó la actividad pero no sabe cuanto tiempo
#9 No sabe si realizó la actividad

9     1237737
2        4388
1        3041
3        2041
4        1500
6         987
5         931
10        605
7         548
8         484
0         422
12        177
14        117
15        112
20         53
16         48
98         40
21         35
18         29
24         18
28         13
30         12
25         11
11         10
40          8
13          7
35          6
48          5
42          4
56          4
60          3
36          3
23          2
22          2
32          2
17          1
19          1
27          1
29          1
38          1
39          1
45          1
49          1
50          1
70          1
71          1
99          1
Name: p11_h6, dtype: int64

In [43]:
t1_ENOE['p11_m6'].value_counts()
#00-59 Número de minutos dedicados a realizar la actividad
#9 No aplica

9     1237641
0       15007
30        641
20         39
40         24
15         16
10         11
50         10
7           9
45          7
35          4
33          2
3           2
25          1
11          1
5           1
2           1
Name: p11_m6, dtype: int64

In [44]:
t1_ENOE['p11_7'].value_counts() #realizar los quehaceres de su hogar? Solo aplica a partir del 2013
#7-si 9-no aplica

9    1005515
7     247902
Name: p11_7, dtype: int64

In [45]:
t1_ENOE['p11_h7'].value_counts() 
#00-97 Número de horas dedicadas a hacer los quehaceres
#98 Realizó la actividad pero no sabe cuanto tiempo
#9 No sabe si realizó la actividad / no aplica

9     1007727
7       28510
14      21687
21      19083
2       17859
10      15159
28      14845
3       13860
5       10234
1        9781
35       9765
4        8716
20       8187
6        7707
30       7081
12       5200
15       4447
18       4127
42       4025
8        3870
25       3814
40       2637
16       2529
36       2343
32       2005
24       1991
56       1806
26       1575
38       1284
22       1171
       ...
41         74
52         67
58         52
54         48
47         42
63         38
43         36
55         34
72         16
84         13
99         12
62          5
65          5
53          3
97          3
64          3
51          2
77          2
66          2
74          2
59          2
80          2
67          1
81          1
85          1
86          1
87          1
92          1
95          1
68          1
Name: p11_h7, Length: 82, dtype: int64

In [46]:
t1_ENOE['p11_m7'].value_counts()
#00-59 Número de minutos dedicados a realizar la actividad
#9 No aplica

9     1005516
0      243232
30       4277
20        113
10         75
40         46
45         42
15         25
1          19
50         16
33         11
35          9
25          7
2           6
3           5
8           4
6           4
5           2
4           2
12          1
36          1
22          1
42          1
32          1
55          1
Name: p11_m7, dtype: int64

In [47]:
t1_ENOE['p11_8'].value_counts() #prestar servicios gratuitos a su comunidad? Solo aplica a partir del 2013
#8-si 9-no aplica

9    1250485
8       2932
Name: p11_8, dtype: int64

In [48]:
t1_ENOE['p11_h8'].value_counts() 
#00-97 Número de horas dedicadas a servicios
#98 Realizó la actividad pero no sabe cuanto tiempo
#9 No sabe si realizó la actividad / no aplica

9     1250511
2         656
1         476
3         360
4         272
5         168
6         161
10        142
8         135
7          69
0          53
12         53
20         49
15         48
14         37
21         31
30         30
28         23
98         21
18         16
24         13
16         13
40         12
25         12
35          8
45          6
17          6
48          5
42          4
13          4
36          4
29          2
32          2
50          2
60          2
68          2
26          2
11          1
19          1
81          1
49          1
54          1
55          1
56          1
Name: p11_h8, dtype: int64

In [49]:
t1_ENOE['p11_m8'].value_counts()
#00-59 Número de minutos dedicados a realizar la actividad
#9 No aplica

9     1250485
0        2776
30        139
20          9
40          4
15          2
42          1
10          1
Name: p11_m8, dtype: int64

# Pregunta 6: ¿recibe o le pagan... Pregunta de opción múltiple, respuestas en P6_1 a P6_10 y P6_99

In [50]:
t1_ENOE['p6_1'].value_counts()#por comisión? 
#1-si 9-no aplica

9    1228073
1      25344
Name: p6_1, dtype: int64

In [51]:
t1_ENOE['p6_2'].value_counts()#a destajo por pieza, servicio u obra realizada?
#2-si 9-no aplica

9    1237052
2      16365
Name: p6_2, dtype: int64

In [52]:
t1_ENOE['p6_3'].value_counts()#por honorarios?
#3-si 9-no aplica

9    1251108
3       2309
Name: p6_3, dtype: int64

In [53]:
t1_ENOE['p6_4'].value_counts()#con propinas?
#4-si 9-no aplica

9    1244090
4       9327
Name: p6_4, dtype: int64

In [54]:
t1_ENOE['p6_5'].value_counts()#con bonos de compensación o de productividad?
#5-si 9-no aplica

9    1243129
5      10288
Name: p6_5, dtype: int64

In [55]:
t1_ENOE['p6_6'].value_counts()#con vales o productos comercializables?
#6-si 9-no aplica

9    1224514
6      28903
Name: p6_6, dtype: int64

In [56]:
t1_ENOE['p6_7'].value_counts()#Solo recibe sueldo, salario o jornal
#7-si 9-no aplica

9    903530
7    349887
Name: p6_7, dtype: int64

In [57]:
t1_ENOE['p6_8'].value_counts()#Solo lo que le deja su negocio
#8-si 9-no aplica

9    1121157
8     132260
Name: p6_8, dtype: int64

In [58]:
t1_ENOE['p6_9'].value_counts()#no le pagan ni recibe ingresos incluye autoconsumo agropecuario
#9-si 99-no aplica

9    1253417
Name: p6_9, dtype: int64

In [59]:
t1_ENOE.drop('p6_9',axis = 1,inplace = True)

In [60]:
t1_ENOE['p6_10'].value_counts()#ninguna de las anteriores
#10-si 9-no aplica

9     1190502
10      62915
Name: p6_10, dtype: int64

In [61]:
t1_ENOE['p6_99'].value_counts()#no sabe
#9-si 99-no aplica

9     1253217
99        200
Name: p6_99, dtype: int64

In [62]:
t1_ENOE.drop('p6_99',axis = 1,inplace = True)

# Pregunta 6a: Aparte de lo que me acaba de mencionar,¿ ...obtiene o le pagan sus ingresos ? Pregunta de opción múltiple, respuestas en P6a1 a P6a4 y P6a9

In [63]:
t1_ENOE['p6a1'].value_counts()#a sueldo, salario o jornal?
#1-si 9-no aplica

9    1155795
1      97622
Name: p6a1, dtype: int64

In [64]:
t1_ENOE['p6a2'].value_counts()#por ganancias o de lo que deja su negocio?
#2-si 9-no aplica

9    1234979
2      18438
Name: p6a2, dtype: int64

In [65]:
t1_ENOE['p6a3'].value_counts()#no le pagan ni recibe ingresos incluye autoconsumo agropecuario
#3-si 9-no aplica

9    1252475
3        942
Name: p6a3, dtype: int64

In [66]:
t1_ENOE['p6a4'].value_counts()#ninguna de las anteriores
#4-si 9-no aplica

9    1220913
4      32504
Name: p6a4, dtype: int64

In [67]:
t1_ENOE['p6a9'].value_counts()#no sabe
#9-si 9-no aplica

9    1253417
Name: p6a9, dtype: int64

# Pregunta 6b: ¿Cada cuándo obtiene ... sus ingresos o le pagan? respuesta en p6b1 /cantidad en pesos en p6b2

In [68]:
t1_ENOE['p6b1'].value_counts()
#1 Cada mes
#2 Cada 15 días
#3 Cada semana
#4 Diario
#5 Otro periodo de pago 
#6 Le pagan por pieza producida o vendida, servicio u obra realizada 
#7 No supo estimar
#8 Se negó a contestar
#9 no aplica

9    622780
3    236242
2    122664
7    107232
4     85061
1     35137
8     28499
5     13405
6      2397
Name: p6b1, dtype: int64

In [69]:
t1_ENOE['p6b2'].value_counts()
#000001-999998 Cantidad en pesos cuando pregunta 6b = 1, 2, 3, 4, 5 ó 6 
#9 Se negó a contestar

9        758513
4300      32269
5160      28551
2580      22448
3440      21495
3870      20437
6450      19954
6000      17617
2150      13941
3010      12996
8000      11738
1290      11388
8600      11092
4000      10795
3000      10474
10000     10250
5000       9811
1720       8068
7000       7763
860        7036
5590       6788
4730       6754
7740       6530
12000      6429
9000       5002
3225       4700
3600       4621
6020       4527
12900      3664
2000       3531
          ...
2582          1
17950         1
4628          1
7702          1
23070         1
5654          1
9744          1
10776         1
8730          1
552           1
9765          1
1575          1
14880         1
3623          1
2596          1
30250         1
3621          1
4646          1
36400         1
1569          1
4636          1
6690          1
3617          1
1568          1
4642          1
2593          1
544           1
543           1
12825         1
1024          1
Name: p6b2, Length: 4440, dtype: int64

# Pregunta 6c: Actualmente el salario mínimo mensual es de (signo de pesos), ¿la cantidad que ... Obtiene al mes por su trabajo es (respuesta en p6c)

In [70]:
t1_ENOE['p6c'].value_counts()
#1 menor?
#2 igual a esta cantidad?
#3 más de 1 salario mínimo
#hasta 2?
#4 más de 2 salarios mínimos hasta 3?
#5 más de 3 salarios mínimos hasta 5?
#6 más de 5 salarios mínimos hasta 10?
#7 más de 10 salarios mínimos?
#8 No quiso dar información
#9 No sabe / No aplica

9    1172259
8      25188
3      17135
4      15283
5       9326
2       5642
1       4902
6       2935
7        747
Name: p6c, dtype: int64

# Pregunta 6d: Por parte de este trabajo ¿... tiene acceso a atención médica en respuesta en p6d

In [71]:
t1_ENOE['p6d'].value_counts()
#1 el seguro social IMSS
#2 el hospital o clínica naval, militar o de PEMEX?
#3 el ISSSTE?
#4 el ISSSTE estatal (ISSSTE LEÓN, ISSEMYM)?
#5 otra institución médica?
#6 No recibe atención médica
#9 No sabe / No aplica

9    580252
6    397301
1    220346
3     37481
4      8699
5      5551
2      3787
Name: p6d, dtype: int64

# Pregunta 7: Además del trabajo Carácter principal del que ya hablamos, ¿...tiene o realiza otra actividad como (respuesta en p7)

In [72]:
t1_ENOE['p7'].value_counts()
#1 vender o hacer productos para la venta (alimentos, productos de belleza, ropa)?
#2 prestar servicios (dar clases, cortar el cabello, lavar ropa ajena)?
#3 trabajar su tierra o parcela y/o criar de animales?
#4 trabajar por propinas, comisión o destajo?
#5 trabajar como asalariado (sueldo, salario o jornal)?
#6 ayudar en algún negocio o en las tierras de un familiar o de otra persona?
#7 No tiene otro trabajo
#9 No sabe / No aplica

7    636586
9    578402
5     12551
2      8037
1      7730
6      5167
3      4389
4       555
Name: p7, dtype: int64

# Pregunta 7a: ¿Cuáles son las tareas o funciones principales que... desempeña en su segundo trabajo? (respuesta en p7a)

In [73]:
t1_ENOE['p7a'].value_counts()#Catálogo “Ver Catálogo de Código CMO en pregunta 7A hasta el periodo 212 Ver Catálogo de Código SINCO en pregunta 7A a partir del periodo 312”
#9 No aplica

9       1214988
6111       3219
9111       3105
4211       2017
4111       1872
4224       1436
9611       1355
9521        843
9512        838
2321        824
7121        782
9221        748
7513        640
5114        609
9411        459
2172        451
9621        446
2332        419
2331        408
8342        393
5116        372
2632        371
2322        322
7341        318
7221        314
2642        313
2651        311
5211        310
6121        298
9643        298
         ...
6999          1
8135          1
3112          1
8301          1
8155          1
9731          1
8321          1
8322          1
8349          1
3232          1
2223          1
6129          1
2234          1
6231          1
1226          1
2262          1
2281          1
7401          1
2334          1
1312          1
1313          1
2421          1
8154          1
2513          1
2521          1
2524          1
2113          1
9711          1
2542          1
8141          1
Name: p7a, Length: 411, dtype: int64

# Pregunta 7b: ¿Cuál es el nombre de la empresa, negocio o institución para la que...realiza este otro trabajo (respuesta en p7b)

In [74]:
t1_ENOE['p7b'].value_counts()
#1 Nombre de la empresa
#2 El negocio no tiene nombre
#3 Es trabajador (subordinado) de una unidad doméstica o trabajador(a) de otro trabajador(a)
#4 Es un(a) trabajador(a) en el extranjero
#9 No sabe / No aplica

9    1215005
2      25522
1      10894
3       1984
4         12
Name: p7b, dtype: int64

# Pregunta 7c: ¿A qué se dedica esta empresa, negocio o institución donde trabaja o ayuda ... en su segundo trabajo? (respuesta en p7c)

In [75]:
t1_ENOE['p7c'].value_counts()#Catálogo de Código SCIAN
#9 No aplica

9       1214987
1110       7368
4611       2167
7221       2145
8140       1866
2382       1861
4690       1496
3110       1112
6112       1056
5411       1018
1121       1015
8112        886
8121        861
8111        746
6211        727
4850        587
2361        585
7111        559
7222        524
6132        524
4651        478
4612        423
6131        421
6141        418
4631        412
5613        394
3320        391
6111        386
4661        381
5611        359
         ...
2122          4
4360          3
5616          3
5510          3
2210          3
3350          3
8125          2
2110          2
3340          2
6139          2
4882          2
3310          2
1199          2
2132          2
9311          2
3330          2
9999          1
2399          1
5612          1
9320          1
6119          1
2121          1
4399          1
2222          1
1142          1
4930          1
4910          1
8124          1
5223          1
7133          1
Name: p7c, Length: 154, dtype: int64

# Pregunta 7d: Por parte de este segundo trabajo, ¿.. tiene acceso a atención médica en (respuesta en p7d)

In [76]:
t1_ENOE['p7d'].value_counts()
#1 el seguro social IMSS
#2 el ISSSTE?
#3 otra institución médica?
#4 No recibe atención médica
#9 No sabe / No aplica

9    1243559
4       9121
1        399
2        252
3         86
Name: p7d, dtype: int64

# Atención desde la pregunta p7e hasta la pregunta p7gcan aplican apartir del II trimestre de 2007 (del campo 40 al 48)

# Pregunta 7e: ¿Aproximadamente cuántas personas laboran donde trabaja ... en su segundo empleo? (respuesta en p7e)

In [77]:
t1_ENOE['p7e'].value_counts()
#01 1 persona
#02 2 a 5 personas
#03 6 a 10 personas
#04 11 a 15 personas
#05 16 a 20 personas
#06 1 a 30 personas
#07 31 a 50 personas
#08 1 a 100 personas
#09 101 a 250 personas
#10 251 a 500 personas
#11 501 y más personas
#9 No sabe

9     1243659
2        4576
1        3576
3         398
11        237
99        182
4         176
8         164
5         161
7         118
6         114
10         56
Name: p7e, dtype: int64

# Pregunta 7f: ¿Cuántos días y cuántas horas le dedicó ... a su segundo trabajo la semana pasada? (respuestas en p7f, p7f_dias y p7f_horas)

In [78]:
t1_ENOE['p7f'].value_counts()
#1 Si dió horas y/o minutos a la semana
#2 No trabajó la semana pasada 
#9 No aplica

9    1243535
1       7772
2       2110
Name: p7f, dtype: int64

In [79]:
t1_ENOE['p7f_dias'].value_counts()#Número de días trabajados
#1-7 Total de dias trabajados a la semana
#9 No sabe cuantos días / No aplica

9    1245663
2       1745
1       1280
3       1270
5       1200
7        988
6        753
4        518
Name: p7f_dias, dtype: int64

In [80]:
t1_ENOE['p7f_horas'].value_counts()#Número de horas trabajadas
#01-97 Número de horas dedicadas a su segundo trabajo 
#98 / 98 horas y más
#9 No sabe el total de horas

9     1245824
6         679
8         535
10        524
12        493
4         483
20        442
24        358
3         357
16        324
15        308
5         305
14        288
2         278
18        269
30        256
7         230
21        207
28        165
25        155
40        130
35        125
1          98
36         74
42         70
48         68
32         54
99         52
22         24
13         22
       ...
27         13
50         13
26         12
72          9
70          9
60          9
23          9
17          8
54          7
19          6
84          5
38          5
33          4
34          4
44          3
52          3
29          3
39          3
98          3
58          2
41          2
63          2
66          1
82          1
47          1
64          1
31          1
55          1
46          1
37          1
Name: p7f_horas, Length: 64, dtype: int64

# Pregunta 7g: Aproximadamente ¿Cuánto gana ... al mes en su segundo trabajo? Pregunta de opción múltiple, respuestas en p7g1 a p7g3 y p7g9, p7gcan

In [81]:
t1_ENOE['p7g1'].value_counts()# 1-en efectivo 9-no aplica

9    1246787
1       6630
Name: p7g1, dtype: int64

In [82]:
t1_ENOE['p7g2'].value_counts()# 2-en especie 9-no aplica

9    1253400
2         17
Name: p7g2, dtype: int64

In [83]:
t1_ENOE['p7g3'].value_counts()# 3-no le pagan ni recibe ingresos (incluye autoconsumo agropecuario) 9-no aplica

9    1251590
3       1827
Name: p7g3, dtype: int64

In [84]:
t1_ENOE['p7g9'].value_counts()# 9-No sabe

9    1253417
Name: p7g9, dtype: int64

In [85]:
t1_ENOE['p7gcan'].value_counts()#Cantidad en pesos 9-no aplica

9        1246772
2000         595
1000         551
3000         372
800          329
1200         318
4000         313
500          289
600          246
1500         230
400          217
300          189
5000         183
6000         152
1600         146
200          134
10000        127
2400         111
8000         108
2500         108
3200          78
1290          78
860           69
1800          68
7000          60
2800          59
900           54
700           53
100           51
4300          49
          ...
2258           1
220            1
225            1
4320           1
1872           1
840            1
1860           1
10500          1
9030           1
260            1
3336           1
834            1
2322           1
2640           1
9500           1
4380           1
301            1
17200          1
1842           1
1333           1
2360           1
313            1
2840           1
322            1
325            1
10003          1
340            1
5900           1
1380           1
21500          1
Name: p7gcan, Length: 276, dtype: int64

# Pregunta 8: Durante los últimos tres meses, ¿...a tratado de Pregunta de opción múltiple, respuestas en p8_1 a p8_4 y p8_9

In [86]:
t1_ENOE['p8_1'].value_counts()#buscar otro trabajo en otro país o hacer preparativos para cruzar la frontera? 
#1-si 9-no aplica

9    1252705
1        712
Name: p8_1, dtype: int64

In [87]:
t1_ENOE['p8_2'].value_counts()#buscar otro trabajo aquí en el país?
#2-si 9-no aplica

9    1224935
2      28482
Name: p8_2, dtype: int64

In [88]:
t1_ENOE['p8_3'].value_counts()#poner un negocio o realizar una actividad por su cuenta, sin poder todavía comenzar?
#3-si 9-no aplica

9    1251987
3       1430
Name: p8_3, dtype: int64

In [89]:
t1_ENOE['p8_4'].value_counts()#Entonces, ¿no ha tratado de buscar otro trabajo?
#4-si 9-no aplica

4    645932
9    607485
Name: p8_4, dtype: int64

In [90]:
t1_ENOE['p8_9'].value_counts()# 9 No sabe

9    1253417
Name: p8_9, dtype: int64

# Pregunta 8a: Lo que ... intenta ¿es (respuesta en p8a)

In [91]:
t1_ENOE['p8a'].value_counts()
#1 tener más de un trabajo? 
#2 tener un trabajo de tiempo completo?
#3 conseguir una actividad en la que pueda trabajar más horas para ganar más?
#4 Ninguna de las anteriores 
#9 No sabe / no aplica

9    1223036
3       9747
2       7631
1       6790
4       6213
Name: p8a, dtype: int64

# Pregunta 8b: ¿Cuál es el motivo principal por el que.. .está buscando otro trabajo? (respuesta en p8b)

In [92]:
t1_ENOE['p8b'].value_counts()
#01 Teme quedarse sin su actual trabajo, que haya recorte de personal o está por terminar su contrato
#02 Mejorar sus ingresos tra- bajando la misma jornada
#03 Mejorar sus condiciones de trabajo (horario, presta- ciones laborales, ambiente de trabajo)
#04 Contar con seguridad social (IMSS o ISSSTE)
#05 Tener un trabajo acorde a su escolaridad, experiencia o capacitación
#06 Tener un trabajo independiente
#07 Tener tiempo para atender o convivir con su familia
#08 Tener tiempo para estudiar o realizar otras actividades
#09 Ninguno de los anteriores / No sabe

9     1251534
2         784
3         603
4         148
5         140
1          93
6          39
8          38
7          36
99          2
Name: p8b, dtype: int64

# Pregunta 9: Alguna vez ... se  quedó sin trabajo o negocio y tuvo que buscar otro? (respuesta en p9)

In [93]:
t1_ENOE['p9'].value_counts()
#1 Sí
#2 No
#9 No sabe / No aplica

9    1086553
2     114988
1      51876
Name: p9, dtype: int64

# Pregunta 9a: La última vez que se quedó sin trabajo ¿cuál era la situación?(respuesta en p9a)

In [94]:
t1_ENOE['p9a'].value_counts()
#1 Perdió o terminó su empleo?
#2 ¿Renunció a su empleo?
#3 ¿Cerró o dejó un negocio propio?
#4 Se pensionó, jubiló o se retiró de su negocio
#5 Lo detuvieron, se accidentó o se enfermó por una larga temporada
#6 Regresó o lo deportaron de Estados Unidos
#7 Un fenómeno natural o siniestro afectó a su fuente de trabajo
#8 Ninguna de las anteriores
#9 No sabe / No aplica

9    1135968
2      55645
1      35502
4      10969
3       7978
5       5233
6       1252
8        820
7         50
Name: p9a, dtype: int64

# Pregunta 9b: En esa ocasión, (respuesta en p9b)

In [95]:
t1_ENOE['p9b'].value_counts()
#1 la fuente de empleo cerró o quebró
#2 hubo recorte de personal
#3 la empresa se cambió de ciudad o de país
#4 no le renovaron su contrato
#5 no lo volvieron a llamar
#6 lo despidieron
#7 Ninguna de las anteriores
#9 No sabe / No aplica

9    1217154
2      13477
5       7350
1       7216
4       3394
6       3364
7       1090
3        372
Name: p9b, dtype: int64

# Pregunta 9c: ¿Cuál fue el motivo principal? (respuesta en p9c)

In [96]:
t1_ENOE['p9c'].value_counts()
#01 Conflicto laboral y/o sindical
#02 Conflicto con su jefe o superior
#03 Falta de calificación o capacitación
#04 Ya no hubo más trabajo
#05 Incumplimiento con la empresa
#06 Discriminación por su aspecto físico
#07 La edad (joven o viejo)
#08 Enfermedad o discapacidad
#09 Embarazo y/o responsabilidades maternas
#10 Ninguno de los anteriores

9     1239433
4       11459
2         678
10        559
8         301
7         301
1         267
5         227
99        129
3          51
6          12
Name: p9c, dtype: int64

# Pregunta 9d: ¿Cuál fue el motivo principal para separarse de ese trabajo?(respuesta en p9d)

In [97]:
t1_ENOE['p9d'].value_counts()
#01 Quería ganar más
#02 Quería independizarse
#03 Cambio o deterioro en las condiciones de trabajo (prestaciones, ingresos y/o jornadas)
#04 El trabajo era riesgoso y/o insalubre
#05 Lo forzaron a renunciar o a pensionarse
#06 Falta de oportunidades para superarse
#07 Acoso o falta de respeto a su persona
#08 Conflicto con su jefe o superior
#09 Matrimonio, embarazo y/o responsabilidades familiares
#10 Un familiar le impidió seguir trabajando
#11 Quería seguir estudiando 
#12 Ninguno de los anteriores

9     1218444
1        9589
12       7004
11       5429
3        5051
2        2796
8        1747
10       1535
4         571
99        368
7         336
6         317
5         230
Name: p9d, dtype: int64

# Pregunta 9e: ¿Cuál fue el motivo principal por el que se vio obligado a dejar ese negocio o actividad por su cuenta? (respuesta en p9e)

In [98]:
t1_ENOE['p9e'].value_counts()
#01 Exceso de deudas o se declaró en quiebra
#02 Aumento de los precios de los insumos o la renta del local
#03 Bajaron las ventas, exceso de competencia
#04 El negocio resultó menos rentable de lo esperado 
#05 Incumplimiento de los clientes (exceso de cuentas por cobrar)
#06 Falta de crédito para seguir operando
#07 Falta de personal adecuado ausentismo o exceso de rotación 
#08Incumplimiento de los proveedores
#09 Problemas de inseguridad pública
#10 Problemas con las autoridades (extorsión, multa)
#11 Matrimonio, embarazo y/o responsabilidades familiares
#12 Un familiar le impidió seguir trabajando
#13 Quería seguir estudiando 
#14 Ninguno de los anteriores

9     1245619
14       2343
3        2171
4         987
11        964
12        398
1         240
5         205
6         149
2         125
13         93
10         53
99         37
7          21
8          12
Name: p9e, dtype: int64

# Pregunta 9f_anio: ¿En qué año terminó (o suspendió) ese trabajo u oficio?(respuesta en p9f_anio)

In [99]:
t1_ENOE['p9f_anio'].value_counts()
#1900-actual Año que terminó trabajo 
#9 No sabe año que terminó trabajo

9       1131371
2013      28444
2012      15870
2011       9138
2010       8509
2014       7365
2009       6099
2008       5435
2007       3771
2004       3471
2003       3137
2006       3109
2005       2812
2000       2766
1998       1928
2002       1874
1999       1781
1994       1543
1993       1541
2001       1416
1990        987
1997        976
1995        933
1996        828
1992        677
1984        587
1988        569
1983        568
1989        520
1991        464
         ...
1971         85
1965         69
1966         67
1967         59
1962         53
1959         41
1958         38
1953         36
1961         32
1955         30
1954         29
1950         27
1957         26
1956         25
1952         15
1948         12
1951         10
1944          8
1945          7
1947          6
1943          5
1949          4
1938          4
1939          2
1930          2
1942          2
1941          1
1940          1
1937          1
1935          1
Name: p9f_anio, Length: 81, dtype: int64

# Pregunta 9f_mes: Mes en que terminó (o suspendió) ese trabajo u oficio (respuesta en p9f_mes)

In [100]:
t1_ENOE['p9f_mes'].value_counts()
#01 Enero
#02 Febrero 
#03 Marzo
#04 Abril
#05 Mayo
#06 Junio
#07 Julio
#08 Agosto
#09 Septiembre
#10 Octubre
#11 Noviembre
#12 Diciembre

9     1219389
12       7908
1        5598
11       4083
2        3366
10       2837
8        2664
6        1878
7        1795
3        1370
5        1153
4         862
99        514
Name: p9f_mes, dtype: int64

# Pregunta 9f: Clasificación del año y mes (respuesta en p9f)

In [101]:
t1_ENOE['p9f'].value_counts()
#1 El año en curso
#2 El año pasado
#3 Antes del año pasado 
#9 No sabe

9    1131669
3      85739
2      27737
1       8272
Name: p9f, dtype: int64

# Pregunta 9g: ¿Cuáles eran las tareas o funciones principales que desempeñaba en ese trabajo? (respuesta en p9g)

In [102]:
t1_ENOE['p9g'].value_counts() #“Ver Catálogo de Código CMO en pregunta 7A hasta el periodo 212 Ver Catálogo de Código SINCO en pregunta 7A a partir del periodo 312”
#9 no aplica

9       1217408
4211       2776
9221       2047
9111       1869
9611       1711
7121       1258
4111        883
5116        803
6111        801
9621        767
3121        756
5313        659
8341        594
7513        530
9231        520
8342        509
9411        506
5114        498
3115        437
5111        407
9521        382
3132        381
8212        364
9512        359
3111        341
6112        329
4221        322
4224        290
6114        280
5222        270
         ...
8331          1
7614          1
6119          1
2161          1
6128          1
2541          1
1134          1
5231          1
2151          1
2422          1
2343          1
4999          1
1613          1
6222          1
2211          1
8322          1
5251          1
1619          1
6231          1
2281          1
5401          1
5412          1
1111          1
6999          1
1312          1
1313          1
2339          1
7323          1
8134          1
1132          1
Name: p9g, Length: 429, dtype: int64

# Pregunta 9h: ¿Cuál es el nombre de la empresa, negocio o institución para la que realizaba ese trabajo? (respuesta en p9h)

In [103]:
t1_ENOE['p9h'].value_counts()
#1 Nombre de la empresa 
#2 El negocio no tiene nombre o razón social 
#3 Fue trabajador (subordinado) de una unidad doméstica o trabajador(a) de otro trabajador(a)
#4 Fue trabajador(a) en el extranjero
#9 No sabe / No aplica

9    1217494
1      20244
2      12972
3       2374
4        333
Name: p9h, dtype: int64

# Pregunta 9h_1: Campo exclusivo del sistema

In [104]:
t1_ENOE['p9h_1'].value_counts() # 9, 2 Campo exclusivo del sistema

9    1233173
2      20244
Name: p9h_1, dtype: int64

# Pregunta 9i: ¿A que se dedica o  dedicaba la empresa, negocio o institución donde trabajaba?(respuesta en p9i)

In [105]:
t1_ENOE['p9i'].value_counts() #Consultar Código SCIAN

9       1217408
1110       3530
7221       2911
8140       2135
2382       2085
2361       1696
4611       1206
3110       1187
4620       1146
4631        906
8111        685
3360        642
3150        553
5611        541
4850        539
5411        537
7210        499
8121        487
4661        480
4651        477
2370        455
4310        450
6112        423
5614        415
3320        404
9314        397
4681        395
3160        394
9313        346
8112        346
         ...
9311          7
4820          7
4370          7
4830          6
9999          6
6121          4
2121          4
5190          3
5180          3
8125          3
6122          3
5321          3
6232          3
4699          3
6150          2
2399          2
5612          2
5223          2
4860          2
1142          2
5210          2
8124          2
4682          2
2222          1
7115          1
3399          1
4399          1
4910          1
6139          1
9320          1
Name: p9i, Length: 158, dtype: int64

# Pregunta 9j: Sólo para el entrevistador (respuesta en p9j)

In [106]:
t1_ENOE['p9j'].value_counts()
#1 Sector público
#2 Sector privado
#9 No sabe / No aplica

9    1220124
2      31244
1       2049
Name: p9j, dtype: int64

# Pregunta 9k: Por parte de ese trabajo, ¿... tenía acceso a atención médica en (respuesta en p9k)

In [107]:
t1_ENOE['p9k'].value_counts()
#1 el Seguro Social (IMSS)?
#2 hospital o clínica naval, militar o de Pemex? 
#3 el ISSSTE?
#4 el ISSSTE estatal (ISSSTELEÓN, ISSEMYM)?
#5 otra institución médica? 
#6 No recibía atención médica
#9 No sabe / No aplica

9    1220203
6      22186
1      10319
3        450
4        101
5         94
2         64
Name: p9k, dtype: int64

# Pregunta 9L: En este trabajo, ¿a ... le daban (Pregunta de opción múltiple, respuestas en p9l1 a p9l5 y p9l9)

In [108]:
t1_ENOE['p9l1'].value_counts()#aguinaldo? 
#1-si 9-no aplica

9    1242503
1      10914
Name: p9l1, dtype: int64

In [109]:
t1_ENOE['p9l2'].value_counts()#vacaciones con goce de sueldo?
#2-si 9-no aplica

9    1244405
2       9012
Name: p9l2, dtype: int64

In [110]:
t1_ENOE['p9l3'].value_counts()#reparto de utilidades?
#3-si 9-no aplica

9    1250044
3       3373
Name: p9l3, dtype: int64

In [111]:
t1_ENOE['p9l4'].value_counts()#ninguna de las anteriores
#4-si 9-no aplica

9    1252211
4       1206
Name: p9l4, dtype: int64

In [112]:
t1_ENOE['p9l5'].value_counts()#no le daban nada
#5-si 9-no aplica

9    1232691
5      20726
Name: p9l5, dtype: int64

In [113]:
t1_ENOE['p9l9'].value_counts()# 9 no sabe / no aplica

9    1253417
Name: p9l9, dtype: int64

In [163]:
t1_ENOE.drop('p9l9',axis = 1,inplace = True)

# Pregunta 9M: Aproximadamente ¿Cuánto ganaba al mes en ese trabajo? Pregunta de opción múltiple, respuestas en p9m1 a p9m3 y p9m9, p9mcan

In [114]:
t1_ENOE['p9m1'].value_counts()#en efectivo
#1-si 9-no aplica

9    1225427
1      27990
Name: p9m1, dtype: int64

In [115]:
t1_ENOE['p9m2'].value_counts()#en especie
#2-si 9-no aplica

9    1253339
2         78
Name: p9m2, dtype: int64

In [116]:
t1_ENOE['p9m3'].value_counts()#no recibía ingresos
#3-si 9-no aplica

9    1251686
3       1731
Name: p9m3, dtype: int64

In [117]:
t1_ENOE['p9m9'].value_counts()#no sabe
#9-si 9-no aplica

9    1253417
Name: p9m9, dtype: int64

In [118]:
t1_ENOE.drop('p9m9',axis = 1,inplace = True)

In [119]:
t1_ENOE['p9mcan'].value_counts()#cantidad en pesos
#9 No aplica

9         1225393
4000         2689
2000         1890
3000         1741
3200         1398
2400         1356
6000         1317
2800         1196
3600         1060
5000          936
4800          851
8000          687
1000          617
1200          554
1500          428
10000         393
2500          390
1600          389
800           365
7000          320
4300          318
3500          294
4400          291
500           284
4500          282
2580          258
3870          236
600           236
5160          234
2600          227
           ...
640             1
18060           1
3720            1
100000          1
3730            1
3741            1
2625            1
1591            1
9675            1
4660            1
1502            1
3550            1
2040            1
9700            1
490             1
4590            1
3569            1
32250           1
520             1
524             1
7700            1
1560            1
540             1
2590            1
4640            1
546             1
40500           1
1580            1
559             1
2048            1
Name: p9mcan, Length: 597, dtype: int64

# Pregunta 9N: Actualmente ¿... recibe o cuenta con algún ingreso derivado de (Pregunta de opción múltiple, respuestas en p9n1 a p9n5 y p9n9)

In [120]:
t1_ENOE['p9n1'].value_counts()#liquidación o indemnización de un empleo?
#1-si 9-no aplica

9    1252397
1       1020
Name: p9n1, dtype: int64

In [121]:
t1_ENOE['p9n2'].value_counts()#la venta, traspaso o liquidación de un negocio?
#2-si 9-no aplica

9    1253299
2        118
Name: p9n2, dtype: int64

In [122]:
t1_ENOE['p9n3'].value_counts()#pensión o jubilación?
#3-si 9-no aplica

9    1242062
3      11355
Name: p9n3, dtype: int64

In [123]:
t1_ENOE['p9n4'].value_counts()#seguro de desempleo?
#4-si 9-no aplica

9    1252196
4       1221
Name: p9n4, dtype: int64

In [124]:
t1_ENOE['p9n5'].value_counts()#seguro de separación individual?
#5-si 9-no aplica

9    1253262
5        155
Name: p9n5, dtype: int64

In [125]:
t1_ENOE['p9n6'].value_counts()#no cuenta con ningún ingreso derivado de un trabajo anterior
#6-si 9-no aplica

9    1145306
6     108111
Name: p9n6, dtype: int64

In [126]:
t1_ENOE['p9n9'].value_counts()#No sabe
#9-si 9-no aplica

9    1253417
Name: p9n9, dtype: int64

In [127]:
t1_ENOE.drop('p9n9',axis = 1,inplace = True)

# Pregunta 9: Durante la semana pasada ¿cuánto tiempo dedicó ... a (Pregunta de opción múltiple, respuestas en p9_1 a p9_8)

In [128]:
t1_ENOE['p9_1'].value_counts()#estudiar o tomar cursos de capacitación? (incluye el tiempo dedicado a realizar trabajos escolares)
#1-si 9-no aplica

9    1094742
1     158675
Name: p9_1, dtype: int64

In [129]:
t1_ENOE['p9_h1'].value_counts()
#00-97 Número de horas dedicadas a estudiar
#98 Realizó la actividad pero no sabe cuanto tiempo 
#9 No sabe si realizó la actividad

9     1095179
40      29036
35      21172
30      14866
45      11911
50       8742
38       6158
36       5256
42       5205
20       4229
32       3956
25       3679
10       3404
28       3047
60       2042
15       1954
37       1682
5        1644
34       1569
48       1564
6        1517
39       1381
4        1372
46       1307
8        1241
2        1234
3        1225
55       1182
12       1116
21       1064
       ...
57         43
80         43
72         40
75         32
64         30
66         30
68         30
63         22
99         21
90         18
59         16
84         10
67         10
61          9
76          6
74          5
78          5
85          3
97          2
96          2
71          2
69          2
79          2
86          1
88          1
89          1
93          1
95          1
73          1
77          1
Name: p9_h1, Length: 93, dtype: int64

In [130]:
t1_ENOE['p9_m1'].value_counts()
#00-59 Número de minutos dedicados a estudiar
#9 No aplica

9     1094743
0      156260
30       1939
7         111
3          92
20         56
45         45
40         38
50         35
2          34
15         24
10         15
6           5
1           4
33          2
25          2
4           2
8           2
5           1
51          1
11          1
22          1
23          1
37          1
46          1
14          1
Name: p9_m1, dtype: int64

In [131]:
t1_ENOE['p9_2'].value_counts()#cuidar o atender sin pago, de manera exclusiva a niños, ancianos, enfermos o discapacitados? (bañarlos, cambiarlos, trasladarlos)
#2-si 9-no aplica

9    1021293
2     232124
Name: p9_2, dtype: int64

In [132]:
t1_ENOE['p9_h2'].value_counts()
#00-97 Número de horas dedicadas a cuidar
#98 Realizó la actividad pero no sabe cuanto tiempo 
#9 No sabe si realizó la actividad

9     1024169
14      24255
10      21496
7       19980
21      19724
28      13043
2       10583
5       10048
20       9766
3        8544
35       8491
6        7980
12       6751
4        6723
15       6285
30       6048
8        5231
18       4879
42       4316
1        3877
16       3303
40       3242
25       3075
98       2458
24       2215
56       2215
26       1185
36       1123
49       1013
32        963
       ...
47         20
57         17
51         16
53         15
90         13
62         12
97         10
77         10
69         10
68          9
66          9
59          8
74          8
99          7
78          5
82          4
71          4
67          4
87          3
61          3
91          3
96          2
75          2
79          1
81          1
76          1
88          1
92          1
94          1
86          1
Name: p9_h2, Length: 94, dtype: int64

In [133]:
t1_ENOE['p9_m2'].value_counts()
#00-59 Número de minutos dedicados a cuidar
#9 No aplica

9     1021295
0      228611
30       2981
3         266
20         59
40         29
7          28
45         25
15         25
10         23
33         11
1           8
4           8
50          7
35          6
6           5
22          5
2           5
11          3
5           3
25          3
18          2
8           2
34          1
13          1
12          1
32          1
36          1
41          1
31          1
Name: p9_m2, dtype: int64

In [134]:
t1_ENOE['p9_3'].value_counts()#Construir o ampliar su vivienda? (Aplica de 2008 a 2012) /  realizar compras, llevar cuentas o realizar trámites para el hogar o encargarse de la seguridad (como guardar el automóvil)? (Aplica a partir del 2013)
#3-si 9-no aplica

9    754799
3    498618
Name: p9_3, dtype: int64

In [135]:
t1_ENOE['p9_h3'].value_counts()
#00-97 Número de horas dedicadas a realizar la actividad
#98 Realizó la actividad pero no sabe cuanto tiempo 
#9 No sabe si realizó la actividad

9     756674
2     164395
1      93108
3      88752
4      45371
5      33595
7      19363
6      19073
10      9509
0       8545
8       5358
14      3082
12      1912
98      1512
15       601
16       457
21       437
20       411
11       341
18       189
17       146
28        84
30        65
19        51
25        50
13        48
35        47
24        38
22        28
40        24
       ...
26         9
32         8
60         8
56         7
36         6
27         6
48         5
38         5
70         4
31         4
61         3
33         3
72         3
29         2
90         2
34         2
62         2
45         2
54         2
39         2
57         1
37         1
43         1
55         1
65         1
66         1
53         1
74         1
75         1
52         1
Name: p9_h3, Length: 64, dtype: int64

In [136]:
t1_ENOE['p9_m3'].value_counts()
#00-59 Número de minutos dedicados a realizar la actividad
#9 No aplica

9     754799
0     467590
30     26023
20      1465
40       741
45       657
15       586
10       431
25       275
50       216
35       193
7        169
4         49
3         45
5         41
2         31
1         28
6         24
55         9
33         9
36         8
11         4
22         3
23         2
32         2
38         2
14         2
8          2
43         1
39         1
34         1
54         1
28         1
27         1
16         1
17         1
18         1
24         1
31         1
Name: p9_m3, dtype: int64

In [137]:
t1_ENOE['p9_4'].value_counts()#reparar o dar mantenimiento a su vivienda, muebles, aparatos electrodomésticos o vehículos? (Aplica del 2008 a 2012) / llevar a algún miembro del hogar a la escuela, cita médica u otra actividad? (Aplica a partir del 2013)
#4-si 9-no aplica

9    1155474
4      97943
Name: p9_4, dtype: int64

In [138]:
t1_ENOE['p9_h4'].value_counts()
#00-97 Número de horas dedicadas a llevar a cabo la actividad
#98 Realizó la actividad pero no sabe cuanto tiempo 
#9 No sabe si realizó la actividad

9     1155784
2       23837
5       18967
1       15828
3       14549
4        8228
6        4039
10       3451
0        2721
7        2686
8        1330
14        380
15        369
12        325
98        235
20        168
11        110
21         87
30         47
18         35
25         34
16         33
24         31
28         23
50         20
13         16
40         13
35         11
42          9
48          6
44          5
32          4
99          4
23          3
70          3
17          3
36          3
22          2
45          2
60          2
19          2
80          2
26          2
34          1
33          1
38          1
27          1
56          1
71          1
72          1
96          1
Name: p9_h4, dtype: int64

In [139]:
t1_ENOE['p9_m4'].value_counts()
#00-59 Número de minutos dedicados a llevar a cabo la actividad
#9 No aplica

9     1155475
0       84213
30      10381
40        816
20        649
15        624
50        586
45        181
10        163
25        124
7          52
5          29
3          19
2          19
35         13
1          11
6           9
4           7
33          7
14          5
36          5
44          4
8           3
56          3
13          2
12          2
22          2
32          2
37          2
11          1
18          1
55          1
21          1
26          1
27          1
28          1
46          1
16          1
Name: p9_m4, dtype: int64

In [140]:
t1_ENOE['p9_5'].value_counts()#realizar los quehaceres de su hogar? (Aplica del 2008 a 2012) /  construir o ampliar su vivienda? (Aplica a partir del 2013)
#5-si 9-no aplica

9    1251408
5       2009
Name: p9_5, dtype: int64

In [141]:
t1_ENOE['p9_h5'].value_counts()
#00-97 Número de horas dedicadas a construir
#98 Realizó la actividad pero no sabe cuanto tiempo 
#9 No sabe si realizó la actividad

9     1251439
2         222
3         201
4         173
6         169
10        163
5         144
8         121
1         118
14         78
7          72
12         57
20         50
21         45
15         40
40         36
30         31
28         29
16         29
35         29
0          27
18         24
24         24
25         21
48          8
60          7
98          7
26          6
36          6
22          5
42          5
55          3
50          3
45          3
32          3
19          3
44          2
56          2
72          2
38          1
17          1
11          1
29          1
46          1
49          1
70          1
71          1
78          1
99          1
Name: p9_h5, dtype: int64

In [142]:
t1_ENOE['p9_m5'].value_counts()
#00-59 Número de minutos dedicados a construir
#9 No aplica

9     1251408
0        1956
30         31
20          9
15          2
10          2
6           2
1           2
55          1
40          1
32          1
13          1
7           1
Name: p9_m5, dtype: int64

In [143]:
t1_ENOE['p9_6'].value_counts()#prestar servicios gratuitos a su comunidad? (Aplica del 2008 a 2012) / reparar o dar mantenimiento a su vivienda, mue- bles, aparatos electrodomésticos o vehículos? (Aplica a partir del 2013)
#6-si 9-no aplica

9    1205264
6      48153
Name: p9_6, dtype: int64

In [144]:
t1_ENOE['p9_h6'].value_counts()
#00-97 Número de horas dedicadas a reparar
#98 Realizó la actividad pero no sabe cuanto tiempo 
#9 No sabe si realizó la actividad

9     1205578
2       12269
1        8956
3        6508
4        4783
6        3285
5        3242
10       1870
7        1826
8        1500
0        1290
12        488
14        410
15        279
98        203
20        186
21        142
18         92
16         90
28         84
30         58
25         49
24         48
40         36
35         29
13         14
11         12
48         11
42          9
36          8
26          7
56          7
50          7
32          6
23          5
19          5
99          4
17          3
34          3
22          3
45          2
47          2
38          2
27          1
37          1
44          1
29          1
60          1
70          1
Name: p9_h6, dtype: int64

In [145]:
t1_ENOE['p9_m6'].value_counts()
#00-59 Número de minutos dedicados a reparar
#9 No aplica

9     1205264
0       45777
30       2062
20         85
15         58
40         55
10         30
7          30
45         20
50         10
5           9
35          5
3           4
25          3
33          1
37          1
6           1
2           1
1           1
Name: p9_m6, dtype: int64

In [146]:
t1_ENOE['p9_7'].value_counts()#realizar quehaceres de su hogar? (Solo aplica a partir del 2013)
#7-si 9-no aplica

7    745375
9    508042
Name: p9_7, dtype: int64

In [147]:
t1_ENOE['p9_h7'].value_counts()
#00-97 Número de horas dedicadas a los quehaceres
#98 Realizó la actividad pero no sabe cuanto tiempo 
#9 No sabe si realizó la actividad

9     514688
7      85024
14     66211
21     58148
2      55254
28     45108
10     44999
3      40546
5      30387
1      29450
35     29435
4      26132
20     24357
6      22946
30     19909
12     15239
18     13342
15     13138
8      12286
42     12255
25     11100
40      8169
16      8033
36      6834
24      6182
32      5677
56      5436
26      4779
22      3748
38      3521
       ...
72        46
84        38
99        26
64        17
62        15
80        13
74        13
65        12
53        11
59         8
57         8
66         6
51         6
61         5
73         4
82         3
75         3
71         3
68         3
67         3
96         2
97         2
76         1
77         1
83         1
85         1
90         1
91         1
95         1
69         1
Name: p9_h7, Length: 90, dtype: int64

In [148]:
t1_ENOE['p9_m7'].value_counts()
#00-59 Número de minutos dedicados a los quehaceres
#9 No aplica

0     730798
9     508044
30     13501
20       329
10       150
45       132
15       111
40       110
1         57
50        51
35        23
33        22
25        20
2         16
3         11
8          9
5          5
4          4
6          4
36         4
11         3
22         3
7          2
14         2
12         1
16         1
19         1
23         1
24         1
28         1
Name: p9_m7, dtype: int64

In [149]:
t1_ENOE['p9_8'].value_counts()#prestar servicios gratuitos a su comunidad? (Solo aplica a partir del 2013)
#8-si 9-no aplica

9    1243336
8      10081
Name: p9_8, dtype: int64

In [150]:
t1_ENOE['p9_h8'].value_counts()
#00-97 Número de horas dedicadas a servicios
#98 Realizó la actividad pero no sabe cuanto tiempo 
#9 No sabe si realizó la actividad

9     1243440
2        2062
1        1512
3        1363
4         924
6         613
5         525
10        521
8         458
7         288
0         239
12        198
20        185
15        163
14        141
21        108
30         79
98         74
28         70
18         66
16         56
25         52
40         49
24         38
35         35
42         20
36         15
56         15
11         15
48         11
22          9
32          8
70          7
50          7
45          6
17          5
99          4
38          4
60          4
19          3
58          3
26          3
31          2
33          2
13          2
49          2
88          1
81          1
80          1
72          1
51          1
55          1
54          1
46          1
41          1
27          1
29          1
Name: p9_h8, dtype: int64

In [151]:
t1_ENOE['p9_m8'].value_counts()
#00-59 Número de minutos dedicados a servicios
#9 No aplica

9     1243336
0        9520
30        491
20         26
40         16
15         14
45          5
5           2
3           2
50          1
25          1
13          1
10          1
2           1
Name: p9_m8, dtype: int64

# Columnas adicionales

In [152]:
t1_ENOE['per'].value_counts()#Periodo
#Primer dígito Trimestre de año 
#1 Enero-Marzo
#2 Abril-Junio 
#3 Julio-Septiembre
#4 Octubre-Diciembre

#Segundo y tercer dígito
#05-99 Año en curso

414    314099
214    313830
314    313818
114    311670
Name: per, dtype: int64

In [153]:
t1_ENOE['ur'].value_counts() # 1,2 Campo exclusivo de proceso

1    756636
2    496781
Name: ur, dtype: int64

In [154]:
t1_ENOE['v_sel'].value_counts() # 01-99 Número de Vivienda seleccionada

1     191936
2     191399
4     190093
5     189293
3     189024
7      20442
15     20411
6      20321
13     20182
9      20163
17     20106
16     20065
18     20049
12     20033
8      19914
11     19880
10     19823
14     19721
19     19505
20     18834
21      1646
22       446
23        94
24        22
26         9
25         6
Name: v_sel, dtype: int64

In [155]:
t1_ENOE.drop('con',axis = 1,inplace = True)

In [156]:
t1_ENOE.drop('upm',axis = 1,inplace = True)

In [157]:
t1_ENOE.drop('p9_7',axis = 1,inplace = True)

In [158]:
t1_ENOE.drop('p9_h7',axis = 1,inplace = True)

In [159]:
t1_ENOE.drop('p9_m7',axis = 1,inplace = True)

In [160]:
t1_ENOE.drop('p9_8',axis = 1,inplace = True)

In [161]:
t1_ENOE.drop('p9_h8',axis = 1,inplace = True)

In [162]:
t1_ENOE.drop('p9_m8',axis = 1,inplace = True)